  .body{
      min-height: 100vh;
      overflow-x: hidden;
      padding: 0;
      margin: 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
  }
  header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      /* 헤더바 배경색 */
      background: #dee1e2;
      padding: 10px 40px;
      display: flex;
      /* justify-content: space-around; 이건 어느정도 떨어져있지만 많이 떨어지진 않는것?  */
      /* between 은 완벽하게 떨어져서 각각 벽에 붙음 */
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  }
  .logo{
      color: #333;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing : 0.1em;
      border: 1px solid black;
      line-height: 60px;
      text-align: center;
      width: 200px;
      height: 60px;
      margin-left: 200px;
  }
  .group{
      display: flex;
      align-items: center;
      margin-right: 200px;
  }
  header ul{
      position: relative;
      display: flex;
      /* 메뉴들의 간격설정 */
      gap : 40px;

  }
  header ul li{
      list-style: none;
  }
  header ul li a {
      position: relative;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.2em;
  }
  header ul li a::before{
      content: '';
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: #333;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
      transform-origin: right;
  }
  header ul li a:hover::before{
      transform: scaleX(1);
      transform-origin: left;
  }

  header .search{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      /* 아이콘크기만? */
      font-size: 2em;
      z-index: 10;
      cursor: pointer;
  }
  .searchBox{
      position: absolute;
      right : -100%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 30px;
      transition: 0.5s ease-in-out;
  }
  .searchBox.active{
      right: 0;     
  }

  .searchBox input{
      width: 100%;
      border : none;
      outline: none;
      margin-top: 10px;
      padding-left: 90px;
      height: 80px;
      font-size: 1.25em;
      /* 검색창 배경색 변경 */
      background: #dee1e2;
      color : #333;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .searchBtn{
      position: relative;
      left: 30px;
      top: 2.5px;
      transition : 0.5s ease-in-out;
  }
  .searchBtn.active{
      left:0;
  }
  .closeBtn{
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      scale: 0;
  }
  .closeBtn.active{
      opacity: 1;
      visibility: visible;
      transition: 0.5s;
      scale: 1;
  }
